/**
 * These match elements prior to the TypeKit link,
 * so they will go through just fine.
 */

html {
  color: #333;
}

.no-problem {
  color: green;
}



/**
 * These match elements *after* the TypeKit link,
 * so they will all disappear.
 */

.should-remain {
  color: blue;
}

strong {
  color: purple;
}
